.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box-input-container {
  height: 4rem;
  width: 60%;
  position: relative;
  padding: 0.5rem;
}
.label {
  position: absolute;
  font-size: 0.8rem !important;
  font-weight: 100 !important;
  top: -0.7rem;
  left: 0.7rem;
}
.input {
  width: 60%;
  /* margin-top: 1rem; */
  padding: 1rem;
  background: none;
  border: none;
  outline: none;
}
.input-span-container {
  display: flex;
  align-items: center;
}
.span-input-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.input-span-container > span , .span-input-container > span {
  color: #d7d7d7;
}
